sync-to-github:
  image: alpine/git:latest
  stage: deploy
  only:
    - main
  script:
    - git remote add github https://${GITHUB_TOKEN}@github.com/AnnapolisLabs/Lineage.git
    - git push github HEAD:main --force