stages:
  - build-gradle
  - sonar
  - deploy

build-backend:
  image: gradle:8.10.0-jdk21-jammy
  stage: build-gradle
  script:
    - gradle build -x test
  artifacts:
    paths:
      - build/classes/
    expire_in: 1 hour
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'master'
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_BRANCH == 'develop'

sonar-scan:
  image:
    name: sonarsource/sonar-scanner-cli:11
    entrypoint: [ "" ]
  stage: sonar
  dependencies:
    - build-backend
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  script:
    - sonar-scanner -Dsonar.host.url="${SONAR_HOST_URL}" -Dsonar.token="${SONAR_TOKEN}"
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'master'
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_BRANCH == 'develop'

sync-to-github:
  image: bitnami/git:latest
  stage: deploy
  only:
    - main
  script:
    - git remote add github https://${GITHUB_TOKEN}@github.com/AnnapolisLabs/Lineage.git
    - git push github HEAD:refs/heads/main --force