stages:
  - build-gradle
  - sonar
  - deploy

variables:
  DOCKER_IMAGE: registry.ftco.ca/$CI_PROJECT_PATH:$CI_COMMIT_REF_SLUG
  DOCKER_IMAGE_LATEST: registry.ftco.ca/$CI_PROJECT_PATH:latest
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

build-backend:
  image: gradle:8.10.0-jdk21-jammy
  stage: build-gradle
  script:
    - gradle build test jacocoTestReport
  artifacts:
    paths:
      - build/classes/
      - build/reports/jacoco/
    expire_in: 1 hour

build-frontend:
  image: node:20
  stage: build-gradle
  script:
    - cd frontend
    - npm ci
    - npm run test:coverage
  artifacts:
    paths:
      - frontend/coverage/
      - frontend/test-report.xml
    expire_in: 1 hour

sonar-scan:
  image:
    name: sonarsource/sonar-scanner-cli:11
    entrypoint: [ "" ]
  stage: sonar
  dependencies:
    - build-backend
    - build-frontend
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  script:
    - sonar-scanner -Dsonar.host.url="${SONAR_HOST_URL}" -Dsonar.token="${SONAR_TOKEN}"
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'master'
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_BRANCH == 'develop'

sync-to-github:
  image: bitnami/git:latest
  stage: deploy
  only:
    - main
  script:
    - git remote add github https://${GITHUB_TOKEN}@github.com/AnnapolisLabs/Lineage.git
    - git push github HEAD:refs/heads/main --force

# Configure CONTAINER_APP_NAME, CONTAINER_PROJECT_HOST variable in GitLab CI/CD Settings -> Variables
sync-to-prod:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H $CONTAINER_PROJECT_HOST >> ~/.ssh/known_hosts
  only:
    - production
  script:
    - |
      IMAGE_NAME=$(echo "registry.ftco.ca/$CI_PROJECT_PATH:latest" | tr '[:upper:]' '[:lower:]')
      CONTAINER_NAME=$(echo "$CI_PROJECT_PATH_SLUG-$CONTAINER_APP_NAME" | tr '[:upper:]' '[:lower:]')
      ssh $CONTAINER_PROJECT_HOST bash << EOF
        echo $CI_REGISTRY_PASSWORD | podman login -u $CI_REGISTRY_USER --password-stdin registry.ftco.ca
        podman pull $IMAGE_NAME
        podman stop $CONTAINER_NAME || true
        podman rm $CONTAINER_NAME || true
        podman run -d \
          --name $CONTAINER_NAME \
          --restart always \
          -p 8080:8080 \
          -v /opt/$CONTAINER_APP_NAME/.env:/app/.env:ro \
          $IMAGE_NAME
      EOF
