version: '3.8'

services:
  lineage:
    image: registry.ftco.ca/mfraser/lineage:${IMAGE_TAG:-production}
    container_name: ${CONTAINER_NAME}
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}