version: '3.8'

services:
  lineage:
    image: registry.ftco.ca:5050/lineage-app:${IMAGE_TAG:-latest}
    container_name: ${CONTAINER_NAME:-lineage-app}
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}